// Common book variables

$font-body-serif: 'Lora', serif;
$font-body-serif-title: 'Alegreya Sans SC', sans-serif;

$page--height: 1056px;
$page--padding--height: 61.5px;
$page--padding--width: 88px;
$page--spacing: 15px;
$page--width: 816px;
